// Variables

$website-width: 1280px;
$main-color: #dc4849;
$light-color: #f3f7f0;
$secondary-color: #ebc22d;
$dark-color: #273043;
$medium-color: #a93f55;
$bg-image: url("/dist/img/showcase.jpg");
$nav-color: #a93f55;

// Set text color
